In [ ]:
#import packages

In [131]:
import pandas as pd
import numpy as np
from io import BytesIO
from minio import Minio
from sqlalchemy import create_engine, text

In [106]:
# Initialize Minio client
minio_client = Minio(
    "minio:9000",
    access_key="minioadmin",
    secret_key="minioadmin",
    secure=False
)

# Download the CSV files from the Minio bucket into a pandas DataFrame
data = minio_client.get_object("track.data-raw", "results.csv")
data = BytesIO(data.read())
result_csv = pd.read_csv(data)

#Due to Postgres foreign key restraints other csv files must be loaded into repsective tables before results may be loaded in.
data1 = minio_client.get_object("track.data-raw", "races.csv")
data1 = BytesIO(data1.read())
race_csv = pd.read_csv(data1)

data2 = minio_client.get_object("track.data-raw", "drivers.csv")
data2 = BytesIO(data2.read())
drivers_csv = pd.read_csv(data2)

data3 = minio_client.get_object("track.data-raw", "constructors.csv")
data3 = BytesIO(data3.read())
constructors_csv = pd.read_csv(data3)

data4 = minio_client.get_object("track.data-raw", "status.csv")
data4 = BytesIO(data4.read())
status_csv = pd.read_csv(data4)

In [13]:
result_csv

,resultId,raceId,driverId,constructorId,number,grid,position,positionText,positionOrder,points,laps,time,milliseconds,fastestLap,rank,fastestLapTime,fastestLapSpeed,statusId
0,1,18,1,1,22,1,1,1,1,10.0,58,1:34:50.616,5690616,39,2,1:27.452,218.300,1
1,2,18,2,2,3,5,2,2,2,8.0,58,+5.478,5696094,41,3,1:27.739,217.586,1
2,3,18,3,3,7,7,3,3,3,6.0,58,+8.163,5698779,41,5,1:28.090,216.719,1
3,4,18,4,4,5,11,4,4,4,5.0,58,+17.181,5707797,58,7,1:28.603,215.464,1
4,5,18,5,1,23,3,5,5,5,4.0,58,+18.014,5708630,43,1,1:27.418,218.385,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26075,26081,1110,817,213,3,19,16,16,16,0.0,44,+1:43.071,5053521,25,15,1:50.994,227.169,1
26076,26082,1110,858,3,2,18,17,17,17,0.0,44,+1:44.476,5054926,37,9,1:50.486,228.213,1
26077,26083,1110,807,210,27,0,18,18,18,0.0,44,+1:50.450,5060900,26,4,1:49.907,229.415,1
26078,26084,1110,832,6,55,4,\N,R,19,0.0,23,\N,\N,9,19,1:53.138,222.864,130
26079,26085,1110,857,1,81,5,\N,R,20,0.0,0,\N,\N,\N,0,\N,\N,130

In [19]:
race_csv

,raceId,year,round,circuitId,name,date,time,url,fp1_date,fp1_time,fp2_date,fp2_time,fp3_date,fp3_time,quali_date,quali_time,sprint_date,sprint_time
0,1,2009,1,1,Australian Grand Prix,2009-03-29,06:00:00,http://en.wikipedia.org/wiki/2009_Australian_G...,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N
1,2,2009,2,2,Malaysian Grand Prix,2009-04-05,09:00:00,http://en.wikipedia.org/wiki/2009_Malaysian_Gr...,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N
2,3,2009,3,17,Chinese Grand Prix,2009-04-19,07:00:00,http://en.wikipedia.org/wiki/2009_Chinese_Gran...,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N
3,4,2009,4,3,Bahrain Grand Prix,2009-04-26,12:00:00,http://en.wikipedia.org/wiki/2009_Bahrain_Gran...,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N
4,5,2009,5,4,Spanish Grand Prix,2009-05-10,12:00:00,http://en.wikipedia.org/wiki/2009_Spanish_Gran...,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1096,1116,2023,18,69,United States Grand Prix,2023-10-22,19:00:00,https://en.wikipedia.org/wiki/2023_United_Stat...,2023-10-20,17:30:00,2023-10-21,18:00:00,\N,\N,2023-10-20,21:00:00,2023-10-21,22:00:00
1097,1117,2023,19,32,Mexico City Grand Prix,2023-10-29,20:00:00,https://en.wikipedia.org/wiki/2023_Mexico_City...,2023-10-27,18:30:00,2023-10-27,22:00:00,2023-10-28,17:30:00,2023-10-28,21:00:00,\N,\N
1098,1118,2023,20,18,São Paulo Grand Prix,2023-11-05,17:00:00,https://en.wikipedia.org/wiki/2023_S%C3%A3o_Pa...,2023-11-03,14:30:00,2023-11-04,14:30:00,\N,\N,2023-11-03,18:00:00,2023-11-04,18:30:00
1099,1119,2023,21,80,Las Vegas Grand Prix,2023-11-19,06:00:00,https://en.wikipedia.org/wiki/2023_Las_Vegas_G...,2023-11-17,04:30:00,2023-11-17,08:00:00,2023-11-18,04:30:00,2023-11-18,08:00:00,\N,\N
1100,1120,2023,22,24,Abu Dhabi Grand Prix,2023-11-26,13:00:00,https://en.wikipedia.org/wiki/2023_Abu_Dhabi_G...,2023-11-24,09:30:00,2023-11-24,13:00:00,2023-11-25,10:30:00,2023-11-25,14:00:00,\N,\N

In [74]:
drivers_csv

,driverId,driverRef,number,code,forename,surname,dob,nationality,url
0,1,hamilton,44,HAM,Lewis,Hamilton,1985-01-07,British,http://en.wikipedia.org/wiki/Lewis_Hamilton
1,2,heidfeld,\N,HEI,Nick,Heidfeld,1977-05-10,German,http://en.wikipedia.org/wiki/Nick_Heidfeld
2,3,rosberg,6,ROS,Nico,Rosberg,1985-06-27,German,http://en.wikipedia.org/wiki/Nico_Rosberg
3,4,alonso,14,ALO,Fernando,Alonso,1981-07-29,Spanish,http://en.wikipedia.org/wiki/Fernando_Alonso
4,5,kovalainen,\N,KOV,Heikki,Kovalainen,1981-10-19,Finnish,http://en.wikipedia.org/wiki/Heikki_Kovalainen
...,...,...,...,...,...,...,...,...,...
852,854,mick_schumacher,47,MSC,Mick,Schumacher,1999-03-22,German,http://en.wikipedia.org/wiki/Mick_Schumacher
853,855,zhou,24,ZHO,Guanyu,Zhou,1999-05-30,Chinese,http://en.wikipedia.org/wiki/Zhou_Guanyu
854,856,de_vries,21,DEV,Nyck,de Vries,1995-02-06,Dutch,http://en.wikipedia.org/wiki/Nyck_de_Vries
855,857,piastri,81,PIA,Oscar,Piastri,2001-04-06,Australian,http://en.wikipedia.org/wiki/Oscar_Piastri
856,858,sargeant,2,SAR,Logan,Sargeant,2000-12-31,American,http://en.wikipedia.org/wiki/Logan_Sargeant

In [102]:
constructors_csv

,constructorId,constructorRef,name,nationality,url
0,1,mclaren,McLaren,British,http://en.wikipedia.org/wiki/McLaren
1,2,bmw_sauber,BMW Sauber,German,http://en.wikipedia.org/wiki/BMW_Sauber
2,3,williams,Williams,British,http://en.wikipedia.org/wiki/Williams_Grand_Pr...
3,4,renault,Renault,French,http://en.wikipedia.org/wiki/Renault_in_Formul...
4,5,toro_rosso,Toro Rosso,Italian,http://en.wikipedia.org/wiki/Scuderia_Toro_Rosso
...,...,...,...,...,...
206,209,manor,Manor Marussia,British,http://en.wikipedia.org/wiki/Manor_Motorsport
207,210,haas,Haas F1 Team,American,http://en.wikipedia.org/wiki/Haas_F1_Team
208,211,racing_point,Racing Point,British,http://en.wikipedia.org/wiki/Racing_Point_F1_Team
209,213,alphatauri,AlphaTauri,Italian,http://en.wikipedia.org/wiki/Scuderia_AlphaTauri
210,214,alpine,Alpine F1 Team,French,http://en.wikipedia.org/wiki/Alpine_F1_Team

In [107]:
status_csv

     statusId          status
0           1        Finished
1           2    Disqualified
2           3        Accident
3           4       Collision
4           5          Engine
..        ...             ...
134       137          Damage
135       138          Debris
136       139         Illness
137       140       Undertray
138       141  Cooling system

[139 rows x 2 columns]

In [ ]:
#Filter races by year 2021 and later

In [20]:
p2021 = race_csv[race_csv['year'] >= 2021]

In [ ]:
#Collect minimum raceId as a value for filtering later

In [27]:
minRaceId = p2021['raceId'].min()

In [ ]:
#Filter results by the raceID variable

In [158]:
results2021 = result_csv[result_csv['raceId'] >= minRaceId]

In [161]:
results2021

,resultId,raceId,driverId,constructorId,number,grid,position,positionText,positionOrder,points,laps,time,milliseconds,fastestLap,rank,fastestLapTime,fastestLapSpeed,statusId
24960,24966,1052,1,131,44,2,1,1,1,25.0,56,1:32:03.897,5523897,44,4,1:34.015,207.235,1
24961,24967,1052,830,9,33,1,2,2,2,18.0,56,+0.745,5524642,41,2,1:33.228,208.984,1
24962,24968,1052,822,131,77,3,3,3,3,16.0,56,+37.383,5561280,56,1,1:32.090,211.566,1
24963,24969,1052,846,1,4,7,4,4,4,12.0,56,+46.466,5570363,38,6,1:34.396,206.398,1
24964,24970,1052,815,9,11,0,5,5,5,10.0,56,+52.047,5575944,44,3,1:33.970,207.334,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26075,26081,1110,817,213,3,19,16,16,16,0.0,44,+1:43.071,5053521,25,15,1:50.994,227.169,1
26076,26082,1110,858,3,2,18,17,17,17,0.0,44,+1:44.476,5054926,37,9,1:50.486,228.213,1
26077,26083,1110,807,210,27,0,18,18,18,0.0,44,+1:50.450,5060900,26,4,1:49.907,229.415,1
26078,26084,1110,832,6,55,4,\N,R,19,0.0,23,\N,\N,9,19,1:53.138,222.864,130
26079,26085,1110,857,1,81,5,\N,R,20,0.0,0,\N,\N,\N,0,\N,\N,130

In [4]:
# Initialize connection to the PostgreSQL database using SQLAlchemy
engine = create_engine('postgresql://admin:admin@pgdb/postgres')

In [155]:
df_db = pd.read_sql("SELECT * FROM race_data.results", engine)

In [156]:
df_db

,result_id,event_id,driver_id,constructor_id,number,grid,position,points,laps,time,fastest_lap_time,rank,fastest_lap_speed,status_id
0,24967,None,830,9,33,1.0,2,18.0,56,+0.745,1:33.228,2,208.984,1
1,24968,None,822,131,77,3.0,3,16.0,56,+37.383,1:32.090,1,211.566,1
2,24969,None,846,1,4,7.0,4,12.0,56,+46.466,1:34.396,6,206.398,1
3,24970,None,815,9,11,0.0,5,10.0,56,+52.047,1:33.970,3,207.334,1
4,24971,None,844,6,16,4.0,6,8.0,56,+59.090,1:34.988,11,205.112,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1059,26081,None,817,213,3,NaN,16,0.0,44,+1:43.071,1:50.994,15,227.169,1
1060,26082,None,858,3,2,NaN,17,0.0,44,+1:44.476,1:50.486,9,228.213,1
1061,26083,None,807,210,27,NaN,18,0.0,44,+1:50.450,1:49.907,4,229.415,1
1062,26084,None,832,6,55,NaN,99999,0.0,23,99999,1:53.138,19,222.864,130
1063,26085,None,857,1,81,NaN,99999,0.0,0,99999,99999,0,99999.000,130

In [ ]:
#Insert Status records into Postgres

In [112]:
for index, row in status_csv.iterrows():
    csv_status = row[['statusId', 'status']]
    insert_query = text("""
        INSERT INTO race_data.status 
        (status_id, status) 
        VALUES (:statusId, :status)
        """)
    csv_status_dict = csv_status.to_dict()
    with engine.begin() as connection:
        connection.execute(insert_query, csv_status_dict)

In [ ]:
#Insert Constructor records into Postgres

In [104]:
for index, row in constructors_csv.iterrows():
    csv_constructors = row[['constructorId', 'name']]
    insert_query = text("""
        INSERT INTO race_data.constructors 
        (constructor_id, name) 
        VALUES (:constructorId, :name)
        """)
    csv_constructors_dict = csv_constructors.to_dict()
    with engine.begin() as connection:
        connection.execute(insert_query, csv_constructors_dict)

In [91]:
#Insert Drivers records into Postgres

In [92]:
for index, row in drivers_csv.iterrows():
    csv_drivers = row[['driverId', 'driverRef', 'code', 'forename', 'surname', 'dob']]
    insert_query = text("""
        INSERT INTO race_data.drivers 
        (driver_id, driver_ref, code, forename, surname, dob) 
        VALUES (:driverId, :driverRef, :code, :forename, :surname, :dob)
        """)
    csv_drivers_dict = csv_drivers.to_dict()
    with engine.begin() as connection:
        connection.execute(insert_query, csv_drivers_dict)

In [ ]:
#Handle \N values in position

In [163]:
results2021['position'] = results2021['position'].replace(to_replace = '\\N', value = 99999)

/tmp/ipykernel_10861/184626962.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  results2021['position'] = results2021['position'].replace(to_replace = '\\N', value = 99999)

In [ ]:
#Handle \N values in time column and replace with +99:99.999

In [166]:
results2021['time'] = results2021['time'].replace(to_replace = '\\N', value = '+99:99.999')

/tmp/ipykernel_10861/3228397410.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  results2021['time'] = results2021['time'].replace(to_replace = '\\N', value = '+99:99.999')

In [ ]:
#Handle \N values in fastestLapTime column and replace with +99:99.999

In [174]:
results2021['fastestLapTime'] = results2021['fastestLapTime'].replace(to_replace = '\\N', value = '+99:99.999')

/tmp/ipykernel_10861/1965627224.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  results2021['fastestLapTime'] = results2021['fastestLapTime'].replace(to_replace = '\\N', value = '+99:99.999')

In [ ]:
#Handle \N values in fastestLap column and replace with -1

In [175]:
results2021['fastestLap'] = results2021['fastestLap'].replace(to_replace = '\\N', value = '-1')

/tmp/ipykernel_10861/1958410128.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  results2021['fastestLap'] = results2021['fastestLap'].replace(to_replace = '+99:99.999', value = '-1')

In [ ]:
#Handle \N values in fastestLapSpeed column and replace with 000.000

In [181]:
results2021['fastestLapSpeed'] = results2021['fastestLapSpeed'].replace(to_replace = '\\N', value = '999.999')

/tmp/ipykernel_10861/2428698396.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  results2021['fastestLapSpeed'] = results2021['fastestLapSpeed'].replace(to_replace = '000.000', value = '999.999')

In [ ]:
#Handle \N values in milliseconds column and replace with -1

In [177]:
results2021['milliseconds'] = results2021['milliseconds'].replace(to_replace = '\\N', value = '-1' )

/tmp/ipykernel_10861/787040270.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  results2021['milliseconds'] = results2021['milliseconds'].replace(to_replace = '\\N', value = '-1' )

In [ ]:
#Show new dataframe where \N values have been handled

In [182]:
results2021

,resultId,raceId,driverId,constructorId,number,grid,position,positionText,positionOrder,points,laps,time,milliseconds,fastestLap,rank,fastestLapTime,fastestLapSpeed,statusId
24960,24966,1052,1,131,44,2,1,1,1,25.0,56,1:32:03.897,5523897,44,4,1:34.015,207.235,1
24961,24967,1052,830,9,33,1,2,2,2,18.0,56,+0.745,5524642,41,2,1:33.228,208.984,1
24962,24968,1052,822,131,77,3,3,3,3,16.0,56,+37.383,5561280,56,1,1:32.090,211.566,1
24963,24969,1052,846,1,4,7,4,4,4,12.0,56,+46.466,5570363,38,6,1:34.396,206.398,1
24964,24970,1052,815,9,11,0,5,5,5,10.0,56,+52.047,5575944,44,3,1:33.970,207.334,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26075,26081,1110,817,213,3,19,16,16,16,0.0,44,+1:43.071,5053521,25,15,1:50.994,227.169,1
26076,26082,1110,858,3,2,18,17,17,17,0.0,44,+1:44.476,5054926,37,9,1:50.486,228.213,1
26077,26083,1110,807,210,27,0,18,18,18,0.0,44,+1:50.450,5060900,26,4,1:49.907,229.415,1
26078,26084,1110,832,6,55,4,99999,R,19,0.0,23,+99:99.999,-1,9,19,1:53.138,222.864,130
26079,26085,1110,857,1,81,5,99999,R,20,0.0,0,+99:99.999,-1,-1,0,1,999.999,130

In [ ]:
#Insert Results into results table

In [145]:
for index, row in results2021.iterrows():
    csv_result2021 = row[['resultId', 'driverId', 'constructorId', 'number', 'position', 'points', 'laps', 'time', 'fastestLapTime', 'rank', 'fastestLapSpeed', 'statusId']]
    insert_query = text("""
        INSERT INTO race_data.results 
        (result_id, driver_id, constructor_id, number, position, points, laps, time, fastest_lap_time, rank, fastest_lap_speed, status_id) 
        VALUES (:resultId, :driverId, :constructorId, :number, :position, :points, :laps, :time, :fastestLapTime, :rank, :fastestLapSpeed, :statusId)
        ON CONFLICT (result_id) DO NOTHING
        """)
    csv_result_dict = csv_result2021.to_dict()
    #del csv_result_dict['event_id']  # remove 'circuitId' from the dict if it exists
    with engine.begin() as connection:
        connection.execute(insert_query, csv_result_dict)

In [146]:
# Query the database to get the current circuits
df_db = pd.read_sql("SELECT * FROM race_data.results", engine)

In [147]:
df_db

,result_id,event_id,driver_id,constructor_id,number,grid,position,points,laps,time,fastest_lap_time,rank,fastest_lap_speed,status_id
0,24967,None,830,9,33,1.0,2,18.0,56,+0.745,1:33.228,2,208.984,1
1,24968,None,822,131,77,3.0,3,16.0,56,+37.383,1:32.090,1,211.566,1
2,24969,None,846,1,4,7.0,4,12.0,56,+46.466,1:34.396,6,206.398,1
3,24970,None,815,9,11,0.0,5,10.0,56,+52.047,1:33.970,3,207.334,1
4,24971,None,844,6,16,4.0,6,8.0,56,+59.090,1:34.988,11,205.112,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1059,26081,None,817,213,3,NaN,16,0.0,44,+1:43.071,1:50.994,15,227.169,1
1060,26082,None,858,3,2,NaN,17,0.0,44,+1:44.476,1:50.486,9,228.213,1
1061,26083,None,807,210,27,NaN,18,0.0,44,+1:50.450,1:49.907,4,229.415,1
1062,26084,None,832,6,55,NaN,99999,0.0,23,99999,1:53.138,19,222.864,130
1063,26085,None,857,1,81,NaN,99999,0.0,0,99999,99999,0,99999.000,130